.left-nav {
  .left-nav-header {
    height: 4.5em;
    display: flex;
    align-items: center;
    border-bottom: solid 3px rgba(14, 189, 8, 0.568);

    img {
      width: 3em;
      height: 3em;
      margin: 0 15px;
    }

    h1 {
      color: white;
      font-size: 20px;
      margin: 0;
    }
  }
}
