* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.container {
  width: 70%;
  height: 50%;
  position: relative;
  margin: 10% auto 0;
}
.container .view-pager-list {
  width: 100%;
  height: 100%;
  list-style: none;
}
.container .view-pager-list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 50px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: all 1s;
}
.container .view-pager-list .item:nth-child(1) {
  background-color: red;
}
.container .view-pager-list .item:nth-child(2) {
  background-color: blue;
}
.container .view-pager-list .item:nth-child(3) {
  background-color: pink;
}
.container .view-pager-list .item:nth-child(4) {
  background-color: black;
}
.container .view-pager-list .item:nth-child(5) {
  background-color: orange;
}
.container .view-pager-list .item.active {
  z-index: 10;
  opacity: 1;
}
.container .btn {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 20;
}
.container .btn.left-btn {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.container .btn.right-btn {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.container .point-list {
  list-style: none;
  display: flex;
  position: absolute;
  right: 3%;
  bottom: 3%;
  z-index: 20;
}
.container .point-list .point {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  cursor: pointer;
}
.container .point-list .point.active {
  background-color: rgba(255, 255, 255, 0.3);
}
